.calendar {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    background-color: rgb(230, 230, 255, 0.5);
    width: auto;
    height: 300px;
    margin: 5%;
}

.calendar li {
    font-size: 22px;
    padding: 10% 0;
}

.carousel-inner {
    background-color: rgba(240, 100, 10, 0.5);
    text-align: center;
    border-radius: 20px;
}

.birthday {
    background-color: rgba(240, 50, 100, 0.5);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.birthday:hover {
    background-color: rgba(100, 50, 240, 0.5);
    border-radius: 0;
}

.birthday-icon img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}
